/* 헤더 */
header#header_wrap {
    width: 100%;
    height: 80px;
    background-color: #FF6E58; 
    color: #fff;
    position: sticky;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 1000;
    transition: background-color 0.3s ease, border-bottom 0.3s ease;
}

/* 프로젝트 섹션 이후 헤더 스타일 */
header#header_wrap.header_scrolled {
    background-color: #fff;
    color: #222;
    border-bottom: 2px solid #FF6E58;
}

div.header_inner {
    width: 87.5%;
    height: 100%;
    position: relative;
    left: 0;
    top: 0;
}
/* 헤더 */

/* 로고 */
h1#logo {
    width: 138px;
    height: 36px;
    background: url('/portfolio/images/logo.png') no-repeat center center;
    position: absolute;
    left: 0;
    top: 22px;
    transition: filter 0.3s ease;
    z-index: 10;
}

/* 프로젝트 섹션 이후 로고 필터 (검은색으로 변경) */
header#header_wrap.header_scrolled h1#logo {
    filter: brightness(0);
}

h1#logo a {
    text-indent: -9999px;
    display: block;
}
/* 로고 */

/* 메인메뉴 */
nav#mainmenu_wrap {
    width: 672px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

ul.mainmenu_list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

a.nav_link { 
    font: 600 18px/19.2px 'Montserrat';
    padding: 8px 0;
    position: relative;
    transition: color 0.3s ease, opacity 0.2s;   
    color: #fff;
}

/* 프로젝트 섹션 이후 네비게이션 링크 색상 */
header#header_wrap.header_scrolled a.nav_link {
    color: #222;
}

.nav_link:hover {
    opacity: 0.8;
}

.nav_link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transform: scale(0, 1);
    transform-origin: center;
    transition: transform 0.3s, background-color 0.3s;
}

/* 프로젝트 섹션 이후 네비게이션 링크 밑줄 색상 */
header#header_wrap.header_scrolled .nav_link::after {
    background-color: #FF6E58;
}

.nav_link:hover::after {
    transform: scale(1, 1);
}
/* 메인메뉴 */


/* 푸터 영역 */
footer#footer_wrap {
    width: 100%;
    background-color: #FF6E58;
    padding: 30px 20px;
    box-sizing: border-box;
}

div.footer_inner {
    width: 100%;
    max-width: 1680px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

p.footer_copyright {
    font-size: 1rem;
    color: white;
}

div.footer_links {
    display: flex;
    flex-direction: row;
    gap: 80px;
}

a.footer_link {
    font-size: 1rem;
    color: white;
}





/* 반응형 디자인 */
@media screen and (max-width: 1280px) {

    nav#mainmenu_wrap {
        width: 65%;
    }
    
}

@media screen and (max-width: 768px) {

    .nav_link { 
        font-size: 16px;
    }

    div.footer_links {
        gap: 30px;
    }
    
}











